.sign-in-form,
.sign-up-form {
  width: 280px;

  @include tablet {
    width: 400px;
  }

  @include desktop {
    width: 900px;
  }

  input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    color: #000000;
    padding-bottom: 5px;
    font-size: 24px;

    @include tablet {
      font-size: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

.form__content{
  margin-bottom: 50px;
}

.show-checkbox {
  width: 240px;
  font-size: 24px;
  margin-top: 14px;
}

.connect {
  margin-bottom: 30px;
}

.other-option {
  width: 240px;
  @include flex($justify: space-between);
  font-size: 19px;
  text-decoration: underline;
}
