@mixin flex($direction: row, $justify: initial, $align: initial, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin box-shadow($h: 0px, $v: 4px, $b: 20px, $s: 0px, $c: rgba(0, 0, 0, 0.1)) {
  -webkit-box-shadow: $h $v $b $s $c;
  -moz-box-shadow: $h $v $b $s $c;
  box-shadow: $h $v $b $s $c;
}

@mixin pAbsolute($left: unset, $right: unset, $top: unset, $bottom: unset) {
  position: absolute;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

@mixin pFixed($bottom: unset, $top:unset, $left: unset, $right: unset) {
  position: fixed;
  bottom: $bottom;
  top: $top;
  left: $left;
  right: $right;
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
