.update-input {
  &--profile {
    label {
      height: unset;
      font-weight: 300;
      top: -20px;
      transform: translateY(0);
      font-size: 14px;

      &:hover {
        cursor: text;
      }
    }

    input {
      @include box-shadow();
      padding-left: 20px;
      padding-right: 50px;
    }
  }

  &__button:hover {
    .pen {
      transform: translate(-3px, 3px);
    }
    .box {
      opacity: 0;
    }
  }
}

.pen {
  transition: 0.3s cubic-bezier(0.17, 0.97, 0.71, 0.87);
}

.box {
  transition: 0.1s;
  transition-delay: 0.2s;
}

.columns-desktop {
  @include desktop {
    width: 900px;
    @include flex($justify: space-between);
  }
}

.passwords {
  input::placeholder {
    font-size: 14px;

    @include tablet{
      font-size: 20px;
    }
  }
}

.hidden-password,
.hide {
  display: none;
}

.update-form {
  @include flex($direction: column, $align: center);
}
