.form{
  @include flex($direction: column, $align: center);

  @include desktop{
    align-items: flex-end;
  }
}

.sign-up-selector{
  width: 100%;
  border: none;
  outline: none;
  border-bottom:1px solid black ;
  padding-bottom: 5px;
  margin-bottom: 50px;
  font-size: 24px;
  color: #727272;
  @include tablet {
    font-size: 30px;
  }
}

.sign-up-form-left-group{
  margin-bottom: 50px;
}

.sign-up-form{
  @include desktop {
    @include flex($direction:row);
  }
}

.sign-up-form div:not(:last-child){
  @include desktop{
    margin-right: 50px;
  }
}

.connect{
  @include desktop{
    margin-top: 50px;
  }
}
