.description {
  margin-bottom: 30px;

  h2 {
    font-size: 24px;
    letter-spacing: 0.6px;
    margin-bottom: 11px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
    width: 355px;
    letter-spacing: 0.5px;
  }
}
