.choice {
  @include flex($direction: column, $align: center);

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 666px;
  }
}

.pizza-size {
  @include flex($justify: space-between);
  width: 205px;
  margin-bottom: 24px;

  @include tablet {
    width: 286px;
  }

  @include desktop {
    margin-bottom: 0px;
  }

  button {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    @include box-shadow();
    font-size: 36px;
    font-weight: 700;
    font-family: Bangers;
    background: white;
    transition: 0.2s;

    @include tablet {
      width: 72px;
      height: 72px;
      font-size: 50px;
    }

    &.active {
      background: var(--yellow);
    }
  }
}
