.searchbar,
.update-input {
  position: relative;
  margin-top: 13px;
  margin-bottom: 30px;

  label {
    @include pAbsolute($left: 20px, $top: 50%);
    transform: translateY(-50%);

    @include tablet {
      height: 30px;
      left: 24px;
    }

    img {
      height: 100%;
    }
  }
  input {
    width: 315px;
    height: 40px;
    background: var(--yellow);
    border: none;
    border-radius: 50px;
    @include box-shadow($c: rgba(255, 209, 102, 0.4));
    padding-left: 56px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: 300;
    outline: none;

    @include tablet {
      padding-left: 74px;
      width: 415px;
      height: 45px;
      font-size: 28px;
    }

    &::placeholder {
      color: var(--placeholder);
    }
  }

  &__button {
    @include pAbsolute($right: 17px, $top: 50%);
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
  }
}

.searchbar {
  margin-top: 76px;

  @include desktop{
    margin-top: var(--margin-desktop);
    margin-bottom: 52px;
  }
}


