.cards{
  @include flex (column, center, center);
  margin-bottom: 25px;

  .card:not(:last-child){
    margin-bottom: 23px;
  }
}

.card {
  @include flex($align: center);
  position: relative;
  padding-left: 15px;
  width: 350px;
  height: 135px;
  @include box-shadow();
  border-radius: 19px;
  background: white;

  &::after {
    content: "";
    @include pAbsolute($right: 15px, $top: 23px);
    background: url("~/assets/images/arrow.svg");
    width: 10px;
    height: 10px;
  }

  img {
    margin-right: 25px;
    height: 111px;
    width: 111px;
    border-radius: 200px;
  }

  .content {
    width: 180px;

    .pizza-name {
      font-size: 24px;
      letter-spacing: 0.6px;
      margin-bottom: 5px;
    }

    .description {
      font-size: 14px;
      color: var(--text-description);
      margin-bottom: 10px;
    }

    .price {
      font-size: 18px;
      span {
        font-size: 14px;
      }
    }
  }
}
