* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oswald; }

:root {
  --yellow: #ffd166;
  --placeholder: #727272;
  --text-description: #5f5f5f;
  --menu-height: 44px;
  --margin-desktop: 190px; }
  @media screen and (min-width: 768px) {
    :root {
      --menu-height: 70px; } }

body {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  min-height: 100vh;
  padding-bottom: calc(2 * var(--menu-height)); }
  @media (min-width: 1200px) {
    body {
      padding-bottom: var(--menu-height); } }

h1,
h2,
h3 {
  font-family: Bangers; }

a {
  text-decoration: none;
  color: unset; }

li {
  list-style: none; }

button {
  outline: none;
  border: none;
  background: none; }
  button:hover {
    cursor: pointer; }

.page-title {
  font-size: 45px; }
  @media (min-width: 1200px) {
    .page-title {
      font-size: 62px; } }

.price {
  font-weight: 700;
  font-size: 18px; }
  .price span {
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .price span {
        font-size: 20px; } }
    @media (min-width: 1200px) {
      .price span {
        font-size: 22px; } }
  @media screen and (min-width: 768px) {
    .price {
      font-size: 26px; } }
  @media (min-width: 1200px) {
    .price {
      font-size: 28px; } }

.main-title {
  margin-top: 111px;
  margin-bottom: 88px;
  width: 240px; }
  @media screen and (min-width: 768px) {
    .main-title {
      width: 340px; } }
  @media (min-width: 1200px) {
    .main-title {
      width: unset;
      margin-top: var(--margin-desktop); } }

input {
  border-radius: 0; }

.menu {
  position: fixed;
  bottom: 0;
  top: unset;
  left: unset;
  right: unset;
  margin-top: calc(-1 * var(--menu-height));
  z-index: 5;
  font-size: 20px;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .menu {
      font-size: 25px; } }
  @media (min-width: 1200px) {
    .menu {
      top: 0;
      bottom: unset;
      margin-top: unset; } }
  .menu nav {
    width: 100%;
    background: var(--yellow); }
    @media (min-width: 1200px) {
      .menu nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: initial;
        flex-wrap: nowrap; } }
  .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: var(--menu-height); }
    @media (min-width: 1200px) {
      .menu ul {
        width: 35%; } }

.home a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 39px;
  height: 39px;
  background: white;
  border-radius: 100%; }
  @media screen and (min-width: 768px) {
    .home a {
      width: 50px;
      height: 50px; }
      .home a img {
        width: 35px;
        height: 35px; } }
@media (min-width: 1200px) {
  .home {
    display: none; } }

.goldn-pizz {
  margin-top: 26px;
  font-size: 36px; }
  @media screen and (min-width: 768px) {
    .goldn-pizz {
      margin-top: 40px;
      font-size: 50px; } }
  @media (min-width: 1200px) {
    .goldn-pizz {
      position: fixed;
      bottom: unset;
      top: 12px;
      left: unset;
      right: unset;
      z-index: 6;
      margin-top: 0px; } }
  .goldn-pizz a {
    font-family: inherit; }

.searchbar,
.update-input {
  position: relative;
  margin-top: 13px;
  margin-bottom: 30px; }
  .searchbar label,
  .update-input label {
    position: absolute;
    left: 20px;
    right: unset;
    top: 50%;
    bottom: unset;
    transform: translateY(-50%); }
    @media screen and (min-width: 768px) {
      .searchbar label,
      .update-input label {
        height: 30px;
        left: 24px; } }
    .searchbar label img,
    .update-input label img {
      height: 100%; }
  .searchbar input,
  .update-input input {
    width: 315px;
    height: 40px;
    background: var(--yellow);
    border: none;
    border-radius: 50px;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(255, 209, 102, 0.4);
    -moz-box-shadow: 0px 4px 20px 0px rgba(255, 209, 102, 0.4);
    box-shadow: 0px 4px 20px 0px rgba(255, 209, 102, 0.4);
    padding-left: 56px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: 300;
    outline: none; }
    @media screen and (min-width: 768px) {
      .searchbar input,
      .update-input input {
        padding-left: 74px;
        width: 415px;
        height: 45px;
        font-size: 28px; } }
    .searchbar input::placeholder,
    .update-input input::placeholder {
      color: var(--placeholder); }
  .searchbar__button,
  .update-input__button {
    position: absolute;
    left: unset;
    right: 17px;
    top: 50%;
    bottom: unset;
    transform: translateY(-50%);
    width: 25px;
    height: 25px; }

.searchbar {
  margin-top: 76px; }
  @media (min-width: 1200px) {
    .searchbar {
      margin-top: var(--margin-desktop);
      margin-bottom: 52px; } }

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  @media (min-width: 1200px) {
    .cards {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 100px; } }

.card {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  padding-left: 15px;
  width: 350px;
  height: 135px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  background: white; }
  @media screen and (min-width: 768px) {
    .card {
      width: 447px;
      height: 170px; } }
  @media (min-width: 1200px) {
    .card {
      margin: 0 12.5px;
      margin-bottom: 25px;
      width: 550px;
      height: 201px; } }
  .card:not(:last-child) {
    margin-bottom: 23px; }
  .card::after {
    content: "";
    position: absolute;
    left: unset;
    right: 15px;
    top: 23px;
    bottom: unset;
    background: center center no-repeat url("/assets/images/arrow.svg");
    width: 10px;
    height: 10px; }
    @media screen and (min-width: 768px) {
      .card::after {
        right: 28px;
        top: 25px;
        width: 18px;
        height: 18px;
        background-size: 18px; } }
    @media (min-width: 1200px) {
      .card::after {
        right: 37px;
        top: 37px; } }
  .card img {
    margin-right: 25px;
    width: 111px;
    border-radius: 50%; }
    @media screen and (min-width: 768px) {
      .card img {
        margin-right: 30px;
        width: 150px; } }
    @media (min-width: 1200px) {
      .card img {
        margin-right: 42px;
        width: 180px; } }
  .card .content {
    width: 180px; }
    @media screen and (min-width: 768px) {
      .card .content {
        width: 190px; } }
    @media (min-width: 1200px) {
      .card .content {
        width: 213px; } }
    .card .content .pizza-name {
      font-size: 24px;
      letter-spacing: 0.6px;
      margin-bottom: 5px; }
      @media screen and (min-width: 768px) {
        .card .content .pizza-name {
          font-size: 32px; } }
      @media (min-width: 1200px) {
        .card .content .pizza-name {
          font-size: 36px; } }
    .card .content .description {
      font-size: 14px;
      color: var(--text-description);
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        .card .content .description {
          font-size: 16px; } }
      @media (min-width: 1200px) {
        .card .content .description {
          font-size: 18px; } }

.only-desktop {
  display: none; }
  @media (min-width: 1200px) {
    .only-desktop {
      display: initial; } }

.product-background {
  background: linear-gradient(to bottom, #e7e7e7 50%, #ffffff 50%); }

.background-info {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  margin-top: 153px;
  height: 100%;
  background: white;
  border-radius: 27px 27px 0 0;
  padding-top: 80px; }
  @media screen and (min-width: 768px) {
    .background-info {
      padding-top: 95px; } }
  @media (min-width: 1200px) {
    .background-info {
      margin-top: 332px;
      padding-top: 180px;
      padding-left: 100px;
      padding-right: 100px;
      align-items: unset; } }
  .background-info .pizza {
    width: 160px; }
    @media screen and (min-width: 768px) {
      .background-info .pizza {
        width: 190px; } }
    @media (min-width: 1200px) {
      .background-info .pizza {
        width: 250px; } }
  .background-info .pizza {
    position: absolute;
    left: 50%;
    right: unset;
    top: 0;
    bottom: unset;
    transform: translate(-50%, -50%);
    border-radius: 100%; }
    @media (min-width: 1200px) {
      .background-info .pizza {
        left: 100px;
        top: -142px;
        transform: translate(0, 0); } }
  .background-info h1 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 40px; }
    @media screen and (min-width: 768px) {
      .background-info h1 {
        font-size: 50px;
        margin-top: 35px; } }
    @media (min-width: 1200px) {
      .background-info h1 {
        position: absolute;
        left: 415px;
        right: unset;
        top: -44px;
        bottom: unset;
        margin-top: 0px;
        margin-bottom: 0px; } }

.choice {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap; }
  @media (min-width: 1200px) {
    .choice {
      flex-direction: row;
      justify-content: space-between;
      width: 666px; } }

.pizza-size {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
  flex-wrap: nowrap;
  width: 205px;
  margin-bottom: 24px; }
  @media screen and (min-width: 768px) {
    .pizza-size {
      width: 286px; } }
  @media (min-width: 1200px) {
    .pizza-size {
      margin-bottom: 0px; } }
  .pizza-size button {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    font-size: 36px;
    font-weight: 700;
    font-family: Bangers;
    background: white;
    transition: 0.2s; }
    @media screen and (min-width: 768px) {
      .pizza-size button {
        width: 72px;
        height: 72px;
        font-size: 50px; } }
    .pizza-size button.active {
      background: var(--yellow); }
    .pizza-size button:hover {
      background: #f2f2f2;
      -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3); }
      .pizza-size button:hover.active {
        background: #ffc233; }

.price-component {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  height: 48px;
  width: 231px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50px; }
  @media screen and (min-width: 768px) {
    .price-component {
      width: 297px;
      height: 64px; } }
  .price-component .price {
    position: absolute;
    left: 26px;
    right: unset;
    top: unset;
    bottom: unset;
    font-size: 24px;
    font-weight: 700; }
    @media screen and (min-width: 768px) {
      .price-component .price {
        font-size: 34px;
        left: 33px; } }
    .price-component .price span {
      font-size: 18px; }
      @media screen and (min-width: 768px) {
        .price-component .price span {
          font-size: 28px; } }

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  left: unset;
  right: 0;
  top: 0;
  bottom: unset;
  background: var(--yellow);
  width: 124px;
  height: 100%;
  border-radius: inherit;
  font-weight: 700; }
  @media screen and (min-width: 768px) {
    .quantity {
      width: 150px; } }
  .quantity button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 45px;
    height: 100%;
    border-radius: inherit;
    background: none; }
    @media screen and (min-width: 768px) {
      .quantity button {
        width: 55px; } }
    .quantity button img {
      transition: 0.1s; }
    @media screen and (min-width: 768px) {
      .quantity button .add {
        width: 32px; }
      .quantity button .remove {
        height: 7px; } }
    .quantity button:hover img {
      transform: scale(1.2); }
  .quantity p {
    font-size: 26px; }
    @media screen and (min-width: 768px) {
      .quantity p {
        font-size: 36px; } }

.info {
  margin-top: 40px; }
  @media screen and (min-width: 768px) {
    .info {
      margin-top: 60px; } }
  @media (min-width: 1200px) {
    .info {
      margin-top: 80px; } }
  @media (min-width: 1200px) {
    .info {
      display: flex;
      flex-direction: row;
      justify-content: initial;
      align-items: initial;
      flex-wrap: wrap; } }

.ingredients {
  margin-bottom: 26px; }
  @media screen and (min-width: 768px) {
    .ingredients {
      margin-bottom: 50px; } }
  @media (min-width: 1200px) {
    .ingredients {
      margin-bottom: 60px;
      margin-right: 50px; } }

h2 {
  font-size: 24px;
  letter-spacing: 0.6px;
  margin-bottom: 11px; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 42px; } }

.items,
.description p {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: initial;
  flex-wrap: wrap;
  width: 355px; }
  @media screen and (min-width: 768px) {
    .items,
    .description p {
      width: 744px; } }

.item {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap;
  height: 40px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding-right: 9px;
  margin-right: 5px;
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    .item {
      height: 50px;
      margin-right: 10px;
      margin-bottom: 10px;
      padding-right: 18px; } }
  .item img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 5px; }
    @media screen and (min-width: 768px) {
      .item img {
        width: 43px;
        height: 43px;
        margin-right: 10px; } }
  .item p {
    font-weight: 300;
    font-size: 16px; }
    @media screen and (min-width: 768px) {
      .item p {
        font-size: 26px; } }

.description p {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: justify; }
  @media screen and (min-width: 768px) {
    .description p {
      font-size: 18px;
      width: 600px; } }

.basket-title {
  margin-top: 76px;
  margin-bottom: 23px; }
  @media (min-width: 1200px) {
    .basket-title {
      margin-top: var(--margin-desktop);
      margin-bottom: 64px; } }

@media (min-width: 1200px) {
  .basket-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
    flex-wrap: nowrap;
    width: 1120px; } }
.basket-products {
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 19px; }

.basket-card {
  width: 350px;
  height: 115px;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap;
  position: relative; }
  @media screen and (min-width: 768px) {
    .basket-card {
      width: 501px;
      height: 165px; } }
  .basket-card .product {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 18px; }
    @media screen and (min-width: 768px) {
      .basket-card .product {
        width: 130px;
        height: 130px; } }
  .basket-card .content .pizza-name {
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-bottom: 7px; }
    @media screen and (min-width: 768px) {
      .basket-card .content .pizza-name {
        font-size: 32px; } }
  .basket-card .content .size {
    font-size: 14px;
    color: var(--text-description);
    margin-bottom: 11px; }
    @media screen and (min-width: 768px) {
      .basket-card .content .size {
        font-size: 18px; } }
  .basket-card .quantity {
    position: absolute;
    left: unset;
    right: 16px;
    top: unset;
    bottom: 13px;
    border-radius: 100px;
    height: 29px;
    width: 88px; }
    @media screen and (min-width: 768px) {
      .basket-card .quantity {
        width: 130px;
        height: 42px;
        right: 40px;
        bottom: 18px; } }
    .basket-card .quantity button img {
      width: 16px; }
      @media screen and (min-width: 768px) {
        .basket-card .quantity button img {
          width: 22px; } }
    .basket-card .quantity button:hover img {
      transform: scale(1.1); }
    .basket-card .quantity p {
      font-size: 20px; }
      @media screen and (min-width: 768px) {
        .basket-card .quantity p {
          font-size: 28px; } }

.conclude {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap; }

.price-review {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  flex-wrap: nowrap;
  width: 350px;
  margin-top: 23px; }
  @media screen and (min-width: 768px) {
    .price-review {
      width: 400px; } }
  .price-review__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
    flex-wrap: nowrap;
    font-size: 18px; }
    @media screen and (min-width: 768px) {
      .price-review__item {
        font-size: 26px; } }
    @media (min-width: 1200px) {
      .price-review__item {
        font-size: 28px; } }
    .price-review__item:not(:last-child) {
      margin-bottom: 14px; }
    .price-review__item h4 {
      color: var(--text-description);
      font-weight: 400; }
  .price-review .total {
    margin-top: 5px; }
    .price-review .total h4 {
      font-size: 24px;
      color: black; }
      @media screen and (min-width: 768px) {
        .price-review .total h4 {
          font-size: 30px; } }
      @media (min-width: 1200px) {
        .price-review .total h4 {
          font-size: 36px; } }
    .price-review .total .price {
      font-size: 24px; }
      .price-review .total .price span {
        font-size: 18px; }

.order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 30px;
  font-family: Bangers;
  font-size: 32px;
  width: 240px; }
  @media screen and (min-width: 768px) {
    .order {
      width: 350px;
      font-size: 50px; } }
  @media (min-width: 1200px) {
    .order {
      margin-top: 74px; } }
  .order__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 60px;
    width: 60px;
    background: black;
    border-radius: 100%;
    transition: 0.2s; }
    @media screen and (min-width: 768px) {
      .order__button {
        height: 80px;
        width: 80px; }
        .order__button img {
          width: 50px; } }
    .order__button:hover {
      background: var(--yellow); }
  .order--basket {
    transform: translateX(45px); }
    @media screen and (min-width: 768px) {
      .order--basket {
        transform: translateX(25px); } }

.update-input--profile label {
  height: unset;
  font-weight: 300;
  top: -20px;
  transform: translateY(0);
  font-size: 14px; }
  .update-input--profile label:hover {
    cursor: text; }
.update-input--profile input {
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 50px; }
.update-input__button:hover .pen {
  transform: translate(-3px, 3px); }
.update-input__button:hover .box {
  opacity: 0; }

.pen {
  transition: 0.3s cubic-bezier(0.17, 0.97, 0.71, 0.87); }

.box {
  transition: 0.1s;
  transition-delay: 0.2s; }

@media (min-width: 1200px) {
  .columns-desktop {
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
    flex-wrap: nowrap; } }

.passwords input::placeholder {
  font-size: 14px; }
  @media screen and (min-width: 768px) {
    .passwords input::placeholder {
      font-size: 20px; } }

.hidden-password,
.hide {
  display: none; }

.update-form {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap; }

.sign-in-form,
.sign-up-form {
  width: 280px; }
  @media screen and (min-width: 768px) {
    .sign-in-form,
    .sign-up-form {
      width: 400px; } }
  @media (min-width: 1200px) {
    .sign-in-form,
    .sign-up-form {
      width: 900px; } }
  .sign-in-form input,
  .sign-up-form input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    color: #000000;
    padding-bottom: 5px;
    font-size: 24px; }
    @media screen and (min-width: 768px) {
      .sign-in-form input,
      .sign-up-form input {
        font-size: 30px; } }
    .sign-in-form input:not(:last-child),
    .sign-up-form input:not(:last-child) {
      margin-bottom: 50px; }

.form__content {
  margin-bottom: 50px; }

.show-checkbox {
  width: 240px;
  font-size: 24px;
  margin-top: 14px; }

.connect {
  margin-bottom: 30px; }

.other-option {
  width: 240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
  flex-wrap: nowrap;
  font-size: 19px;
  text-decoration: underline; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap; }
  @media (min-width: 1200px) {
    .form {
      align-items: flex-end; } }

.sign-up-selector {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 50px;
  font-size: 24px;
  color: #727272; }
  @media screen and (min-width: 768px) {
    .sign-up-selector {
      font-size: 30px; } }

.sign-up-form-left-group {
  margin-bottom: 50px; }

@media (min-width: 1200px) {
  .sign-up-form {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: initial;
    flex-wrap: nowrap; } }

@media (min-width: 1200px) {
  .sign-up-form div:not(:last-child) {
    margin-right: 50px; } }

@media (min-width: 1200px) {
  .connect {
    margin-top: 50px; } }

.error,
.success {
  width: 100%;
  padding: 0 10px;
  max-width: 315px;
  background: rgba(255, 0, 0, 0.4);
  border-radius: 100px;
  text-align: center;
  font-size: 16px; }
  @media screen and (min-width: 768px) {
    .error,
    .success {
      max-width: unset;
      font-size: 24px; } }

.success {
  background: rgba(0, 128, 0, 0.4);
  margin-bottom: 20px; }

.table {
  margin-top: 200px;
  width: 900px;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap; }
  .table .th {
    border: 1px solid black;
    border-collapse: collapse; }
  .table .td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center; }

.table2 {
  margin-top: 35px;
  border-collapse: collapse;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  flex-wrap: nowrap; }
  .table2 .th {
    border: 1px solid black;
    border-collapse: collapse; }
  .table2 .td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
